p{
    /*width:200px;*/
    /*height: 180px;*/
    /*margin:auto;*/
    /*text-align: center;*/
    /*line-height: 3;*/
    width: 200px;
    margin:auto;
    line-height: 10;
    text-shadow: 1px 1px 1px orangered;
    /* text */
    font-size: 1.1rem;
    /* Since the default font-size is 16px, I guessed that the correct
    size would be 1.1rem. I set it, then checked it in the dev tools. */
    text-align: center;
    border-radius: 10px;
    font-size: 1.2em;
    background-color: red;
    /*box-shadow: 10px 5px 5px black,*/
    /*            inset -2px -2px -2px white;*/
    /*box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),*/
    /*inset -2px -2px 3px rgba(0,0,0,0.6),*/
    box-shadow: inset -2px -2px 3px rgba(255,255,255,0.5),
                inset -2px -2px 3px rgba(0,0,0,0.6),
                10px 5px 5px black;
    border: 1px solid darkred;
    background-image:linear-gradient(to top left,rgba(0,0,0,0.2),rgba(0,0,0,0.2)30%,rgba(0,0,0,0)100%) ;

}

