.box {
    width: 200px;
    border: 5px solid purple;
}

img {
    max-width: 100%;
}

.box {
    width: 200px;
    height: 200px;
}

/*img {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    width:300px;
}


.wrapper1 > div {
    background-color: rebeccapurple;
    border-radius: .5em;
}
